args==0.1.0
asgiref==3.7.2
certifi==2023.11.17
charset-normalizer==3.3.2
colorama==0.4.6
data==0.4
decorator==5.1.1
Flask==3.0.2
Flask-JWT-Simple==0.0.3
Flask-Login==0.6.3
Flask-RESTful==0.3.10
Flask-WTF==1.2.1
funcsigs==1.0.2
future==0.18.3
greenlet==3.0.3
idna==3.6
itsdangerous==2.1.2
Jinja2==3.1.3
Mako==1.3.2
MarkupSafe==2.1.5
progressbar==2.5
pygame==2.5.2
PyJWT==2.8.0
python-dotenv==1.0.0
pytz==2024.1
ratelim==0.1.6
requests==2.31.0
six==1.16.0
soupsieve==2.5
South==1.0.2
SQLAlchemy==2.0.27
SQLAlchemy-serializer==1.4.1
sqlparse==0.4.4
typing_extensions==4.10.0
tzdata==2024.1
uic==0.0.1
urllib3==2.1.0
waitress==3.0.0
Werkzeug==3.0.1
WTForms==3.1.2