{% extends "base.html" %}

{% block content %}
<h1>{{ title }}</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.topic.label }}<br>
        {{ form.topic(class="form-control") }}<br>
        {% for error in form.topic.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.title.label }}<br>
        {{ form.title(class="form-control") }}<br>
        {% for error in form.title.errors %}
            <p content="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.in_detail.label }}<br>
        {{ form.in_detail(class="form-control") }}<br>
        {% for error in form.in_detail.errors %}
            <p content="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.organizer.label }}<br>
        {{ form.organizer(class="form-control") }}<br>
        {% for error in form.organizer.errors %}
            <p content="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.members.label }}<br>
        {{ form.members(class="form-control") }}<br>
        {% for error in form.members.errors %}
            <p content="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.contacts.label }}<br>
        {{ form.contacts(class="form-control") }}<br>
        {% for error in form.contacts.errors %}
            <p content="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>

</form>
{% endblock %}